<h2 id="title"><a href="/">Movie Listings:</a></h2>
<table>
  <tr class="top">
    <td>Available Titles</td>
  </tr>
  <% @movies.each do |title| %>
    <tr>
      <td><a href="/movies/<%= title[:id] %>"><%= title[:title]%></a></td>
    </tr>
  <% end %>
</table>

<p><a href="/movies?page=<%= @prev_page %>"><< Back 20</a> | Page <%= @page %> | <a href="/movies?page=<%= @next_page %>">Next 20 >></a></p>
